.player-controller {
  display: flex;
  justify-content: center;
}

.player-controller-title {
  flex: 1 0 calc(100vw - 30rem);

  display: flex;
  flex-direction: column;
}

.player-controller-title-title {
  flex: 3 1 1rem;
  font-size: 1.5rem;
}

.player-controller-title-artist {
  flex: 2 1 1rem;
  font-size: 0.8rem;
}

.player-controller-time {
  margin: 0.9rem 0;
  width: 18ch;
  text-align: center;
}
