/* https://qiita.com/nissuk/items/7d5545a9f6177ff965dc */

/** マーキーさせたい部分 */
.common-marquee {
  overflow: hidden; /* スクロールバーが出ないように */
  position: relative; /* マーキーの内容部分の位置の基準になるように */
  display: inline;
}

/* マーキーの内容部分の高さ確保 */
.common-marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}

/* マーキーさせたい部分(内側) */
.common-marquee > .common-marquee-inner {
  position: absolute;
  top: 0;
  white-space: nowrap;
  animation-name: common-marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

/* マウスオーバーでマーキーストップ */
.common-marquee > .common-marquee-inner:hover {
  animation-play-state: paused;
  cursor: default;
}

/** マーキーアニメーション */
@keyframes common-marquee {
  0% {
    left: 100%;
    transform: translate(0);
  }
  100% {
    left: 0;
    transform: translate(-100%);
  }
}
