.player-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.player-controller {
  flex: 1 0 1.5rem;

  background-color: rgb(173, 173, 173);
}

.player-seekbar {
  background-color: rgb(79, 81, 99);
}

.player-seekbar:focus,
.player-seekbar:active {
  outline: none;
}

.menu-container {
  display: flex;

  flex: 1 0 calc(100vh - 3.5rem);
}

.menu-left {
  flex: 0 0 max-content;
  padding-top: 4rem;

  background-color: rgb(165, 165, 165);

  overflow-y: scroll;
}

.menu-left > li {
  margin: 0.3rem 0rem;
  padding: 0.2rem 0.5rem;
}

.menu-left > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.menu-left .common-label-icon-button:hover {
  background: none;
}

.menu-left-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-left-selected:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu-right {
  flex: 1 1 content;

  background-color: rgb(207, 207, 207);

  overflow-wrap: anywhere;
}
