{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@linaria"
  ],
  "plugins": ["@vanilla-extract/babel-plugin"]
}
